* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f1c0c0;
}

header{
    height: 12vh;
}

.navbar-desktop {
    position: fixed;
    display: flex;
    align-items: center;             
    justify-content: space-between;  
    background-color: white;
    padding: 10px;
    width: 100%;
    font-family: 'Poppins';
    z-index: 999;
}

.site-logo {
    display: flex;
    justify-content: flex-start;               
}

.site-logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.nav-list-pc {
    display: flex;
    gap: 55px;                     
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;        
    flex: 1;                          
}

.nav-list-pc li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.4s ease-in-out;
}

.nav-list-pc li a:hover {
    color: red;
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;          /* espaço entre texto e imagem */
    flex-wrap: wrap; /* permite quebrar em telas pequenas */
}

/* Coluna esquerda */
.homepage-left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    background-color: white;
    padding: 50px 30px;
    font-family: 'Poppins';
}

/* H1 grande */
.homepage-left-content h1 {
    font-size: 2.5em;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* H3 menor */
.homepage-left-content h3 {
    font-size: 1.5em;
    margin: 0;
    display: flex;
    text-align: center;
}

/* Botões lado a lado */
.button-group {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

/* Botões */
.homepage-button {
    padding: 10px 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #dd1e1e;
    color: white;
    transition: 0.3s;
}

.homepage-button:hover {
    background-color: red;
    color: white;
}

/* Coluna direita (imagem) */
.homepage-right-content img {
    width: 100%;
    max-width: 500px; /* limite da imagem */
    height: auto;
}
